<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>BC Incentive Chart</title>

  <style>
	div.middle {
		width:500px;
    	font-family: "Arial";
	}
	div.left {
		width:40%;
    	text-align:left;
    	float:left;
    	padding:5px;
	}
	div.right {
		width:50%;
    	text-align:left;
    	float:left;
    	padding:5px;
	}

	div.long {
		width:700px;
    	font-family: "Arial";
	}

	div.single {
		width:20%;
    	text-align:left;
    	float:left;
    	padding:5px;
	}

	h1, p {
		font-family: "Arial";
	}

	p.error, ul.errorlist li {
		color:red;
		font-weight:bold;
	}

	ul.errorlist li {
		list-style-type: none;
		margin-left: -40px;
		margin-top: -10px;
		margin-bottom: -10px;
		font-size: 10px;
	}
  </style>

</head>

<body>

{% if form and npi %} 

<h1>New record created</h1>

<div class="middle">
	<a href="{% url 'cowsform:detail' npi.id %}">Review record</a>
</div>

<div style="clear:both; padding:10px;"></div>

<div class="middle">
	<div class="left">Subject Name:</div>
	<div class="right">
    	{{ npi.subject_name }}
	</div>
</div>

<div class="middle">
	<div class="left">Month:</div>
	<div class="right">
    	{{ form.month.value }}
	</div>
</div>

<div class="middle">
	<div class="left">Business Center:</div>
	<div class="right">
    	{{ form.business_center.value }}
	</div>
</div>

{% if form.states.value %}
<div class="middle">
	<div class="left">States:</div>
	<div class="right">
	    {{ form.states.value }}
	</div>
</div>
{% endif %}

{% if form.zip_codes.value %}
<div class="middle">
	<div class="left">Zip Codes:</div>
	<div class="right">
        {{ form.zip_codes.value }}
	</div>
</div>
{% endif %}

{% if form.dma.value %}
<div class="middle">
	<div class="left">DMA:</div>
	<div class="right">
    	{{ form.dma.value }}
	</div>
</div>
{% endif %}

{% if form.car_model.value %}
<div class="middle">
	<div class="left">Model:</div>
	<div class="right">
		{{ form.car_model.value }}
    </div>
</div>
{% endif %}

{% if form.car_make.value %}
<div class="middle">
	<div class="left">Make:</div>
	<div class="right">
    	{{ form.car_make.value }}
    </div>
</div>
{% endif %}

{% if form.box_size.value %}
<div class="middle">
	<div class="left">Box Size:</div>
	<div class="right">
    	{{ form.box_size.value }}
    </div>
</div>
{% endif %}

{% if form.wheel_base.value %}
<div class="middle">
	<div class="left">Wheel Base:</div>
	<div class="right">
    	{{ form.wheel_base.value }}
    </div>
</div>
{% endif %}

{% if form.car_trim.value %}
<div class="middle">
	<div class="left">Trim:</div>
	<div class="right">{{ form.car_trim.value }}</div>
</div>
{% endif %}

{% if form.car_year.value %}
<div class="middle">
	<div class="left">Model Year:</div>
	<div class="right">{{ form.car_year.value }}</div>
</div>
{% endif %}

<div style="clear:both; padding:10px;"></div>

{% if form.co_customer_cash_program_id.value and form.co_customer_cash.value and form.co_bc_bonus_cash_program_id.value and form.co_bc_bonus_cash.value and form.co_auto_show_bonus_cash.value and form.co_auto_show_bonus_cash_program_id.value %}
<div>
	<div class="long">
		<div><b>Cash Offer</b></div>
	</div>

	<div class="long">
		<div class="single">Customer Cash:</div>
		<div class="single">{{ form.co_customer_cash.value }}</div>
		<div class="single">Program ID:</div>
		<div class="single">{{ form.co_customer_cash_program_id.value }}</div>
	</div>

	<div class="long">
		<div class="single">BC Bonus Cash:</div>
		<div class="single">{{ form.co_bc_bonus_cash.value }}</div>
		<div class="single">Program ID:</div>
		<div class="single">{{ form.co_bc_bonus_cash_program_id.value }}</div>
	</div>

	<div class="long">
		<div class="single">Auto Show Bonus Cash:</div>
		<div class="single">{{ form.co_auto_show_bonus_cash.value }}</div>
		<div class="single">Program ID:</div>
		<div class="single">{{ form.co_auto_show_bonus_cash_program_id.value }}</div>
	</div>
</div>
{% endif %}

{% if form.fo_apr_and_term_program_id.value and form.fo_apr_and_term.value and form.fo_bc_bonus_cash.value and form.fo_bc_bonus_cash_program_id.value and form.fo_auto_show_bonus_cash.value and form.fo_auto_show_bonus_cash_program_id.value %}
<div>
	<div class="long">
		<div><b>Finance Offer</b></div>
	</div>

	<div class="long">
		<div class="single">APR and Term:</div>
		<div class="single">{{ form.fo_apr_and_term.value }}</div>
		<div class="single">Program ID:</div>
		<div class="single">{{ form.fo_apr_and_term_program_id.value }}</div>
	</div>

	<div class="long">
		<div class="single">BC Bonus Cash:</div>
		<div class="single">{{ form.fo_bc_bonus_cash.value }}</div>
		<div class="single">Program ID:</div>
		<div class="single">{{ form.fo_bc_bonus_cash_program_id.value }}</div>
	</div>

	<div class="long">
		<div class="single">Auto Show Bonus Cash:</div>
		<div class="single">{{ form.fo_auto_show_bonus_cash.value }}</div>
		<div class="single">Program ID:</div>
		<div class="single">{{ form.fo_auto_show_bonus_cash_program_id.value }}</div>
	</div>
</div>
{% endif %}

{% if form.ccfo_customer_cash_program_id.value and form.ccfo_customer_cash.value and form.ccfo_cc_bc_bonus_cash_program_id.value and form.ccfo_cc_bc_bonus_cash.value and form.ccfo_apr_and_term_program_id.value and form.ccfo_apr_and_term.value and form.ccfo_aat_bc_bonus_cash_program_id.value and form.ccfo_aat_bc_bonus_cash.value %}
<div>
	<div class="long">
		<div><b>Combo "Cash or Finance" Offer</b></div>
	</div>

	<div class="long">
		<div class="single">Customer Cash:</div>
		<div class="single">{{ form.ccfo_customer_cash.value }}</div>
		<div class="single">Program ID:</div>
		<div class="single">{{ form.ccfo_customer_cash_program_id.value }}</div>
	</div>

	<div class="long">
		<div class="single">BC Bonus Cash:</div>
		<div class="single">{{ form.ccfo_cc_bc_bonus_cash.value }}</div>
		<div class="single">Program ID:</div>
		<div class="single">{{ form.ccfo_cc_bc_bonus_cash_program_id.value }}</div>
	</div>

	<div style="clear:both;"></div>

	<div class="long">
		<b>OR</b>
	</div>

	<div style="clear:both;"></div>

	<div class="long">
		<div class="single">APR and Term:</div>
		<div class="single">{{ form.ccfo_apr_and_term.value }}</div>
		<div class="single">Program ID:</div>
		<div class="single">{{ form.ccfo_apr_and_term_program_id.value }}</div>
	</div>

	<div class="long">
		<div class="single">BC Bonus Cash:</div>
		<div class="single">{{ form.ccfo_aat_bc_bonus_cash.value }}</div>
		<div class="single">Program ID:</div>
		<div class="single">{{ form.ccfo_aat_bc_bonus_cash_program_id.value }}</div>
	</div>
</div>
{% endif %}

{% if form.lo_lease_payment_program_id.value and form.lo_lease_payment.value and form.lo_term.value and form.lo_term_program_id.value and form.lo_due_at_signing.value and form.lo_due_at_signing_program_id.value %}
	<div class="long">
		<div><b>Lease Offer</b></div>
	</div>

	<div class="long">
		<div class="single">Lease Payment:</div>
		<div class="single">{{ form.lo_lease_payment.value }}</div>
		<div class="single">Program ID:</div>
		<div class="single">{{ form.lo_lease_payment_program_id.value }}</div>
	</div>

	<div class="long">
		<div class="single">Term:</div>
		<div class="single">{{ form.lo_term.value }}</div>
		<div class="single">Program ID:</div>
		<div class="single">{{ form.lo_term_program_id.value }}</div>
	</div>

	<div class="long">
		<div class="single">Due at Signing:</div>
		<div class="single">{{ form.lo_due_at_signing.value }}</div>
		<div class="single">Program ID:</div>
		<div class="single">{{ form.lo_due_at_signing_program_id.value }}</div>
	</div>
{% endif %}

{% if form.tca_program_id.value and form.total_cash_allowance.value %}
<div class="middle">
	<div><b>Total Cash Allowance-Offer must match Offer Details Section</b></div>
</div>

<div class="middle">
	<div class="left">Program ID:</div>
	<div class="right">
    	{{ form.tca_program_id.value }}
	</div>
</div>
{% endif %}

{% if form.tv_program_id.value and form.total_values.value %}
<div class="middle">
	<div class="left">Total Cash Allowance:</div>
	<div class="right">{{ form.total_cash_allowance.value }}</div>
</div>

<div style="clear:both; padding:25px;"></div>

<div class="middle">
	<div><b>Total Values-Offer must match Offer Details Section</b></div>
</div>

<div class="middle">
	<div class="left">Program ID:</div>
	<div class="right">
    	{{ form.tv_program_id.value }}
	</div>
</div>


<div class="middle">
	<div class="left">Total Values:</div>
	<div class="right">{{ form.total_values.value }}</div>
</div>
{% endif %}

{% endif %}

</body>
</html>